@CHARSET "UTF-8";
body {
	background-image: url("http://szuflandia.pjwstk.edu.pl/~s13206/patterns/linen.png");
	padding-left: 150px; padding-right:150px; padding-top:40px;
	font-family: Verdana, Geneva, sans-serif;
    	font-size: 14px;
	color: #222222;
}
table,td {
   	padding: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #222222;
}
h1 {
	font-family: Verdana, Geneva, sans-serif;
    	font-size: 22px;
	color: gray;
}

#whitebox {
	padding-left:50px; padding-right:50px; 
	padding-top: 10px; padding-bottom: 40px;
	margin: 5px;
	border-radius: 10px; 
	text-align: left;
	background:#FEFEFE;
}